head
    meta(http-equiv="refresh",content="0; url=https://github.com/stryker-mutator/stryker-net/blob/master/docs/Configuration.md")
    link(rel="canonical",href="https://github.com/stryker-mutator/stryker-net/blob/master/docs/Configuration.md")
