extends ../layout/section-layout.pug

block content
    :markdown-it
        Welcome to the Stryker for .NET documentation. Stryker for Stryker.NET is a spin-off of the original Stryker 
        project for C#. It supports both .NET Framework and .NET Core projects. 

    p
    p
        a.btn.btn-primary.btn-lg(href="/stryker-net/quickstart") Get started now
    p

    img(alt="stryker", src="/images/stryker-net/stryker-net.png" class="img-fluid")
    
