extends ../layout/section-layout.pug

block content
    :markdown-it
        Welcome to the Stryker for C# documentation. Stryker for C# is also known as Stryker.NET.

        ### Stryker.NET
        Stryker.NET offers you mutation testing for your .NET Core projects. It allows you to test your tests by temporarily inserting bugs. Stryker.NET is installed using NuGet.

        For instructions on how to get started using Stryker.NET see the [quickstart](/stryker-net/quickstart).

        ### Note
        Stryker.NET is currently available for .NET Core 1.1+ only. A .NET Framework 4.5+ version is on the way.
    br
