extends ../layout/section-layout.pug

block content
    section.row
        .col-md-12
            :markdown-it
                Install Stryker using [NuGet](https://www.nuget.org/).
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 1] Install
            :markdown-it
                To install Stryker.NET on your test project add the following lines to the root of your .csproj file. on your test project.

                ```
                <ItemGroup>
                    <DotNetCliToolReference Include="StrykerMutator.DotNetCoreCli" Version="*" />
                    <PackageReference Include="StrykerMutator.DotNetCoreCli" Version="*" />
                </ItemGroup>
                ```
                After adding the references, install the packages by executing dotnet restore inside the project folder.

                ```
                dotnet restore 
                ```
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 2] Let's kill some mutants
            p Run Stryker.NET to mutation test your project
            pre.stryker-install
                code 
                    | dotnet stryker
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 3] Configure
            :markdown-it
                Stryker will always look for a `stryker-config.json` file in the root of the test project. When found it will use the parameters in the file.

                ```js
                {
                    "stryker-config":
                    {      
                        "reporter":[
                            "ConsoleProgressBar",
                            "ConsoleReport"
                        ],  
                        "log-level":"info",
                        "timeout-ms":10000,
                        "log-file":true,
                        "project-file":"ExampleProject.csproj",
                        "max-concurrent-test-runners":4,
                        "threshold-high":80,
                        "threshold-low":70,
                        "threshold-break":60,
                        "files-to-exclude": [
                            "./ExampleClass.cs",
                            "./ExampleDirectory/",
                            "./ExampleDirectory/ExampleClass2.cs",
                            "C:\\ExampleRepo\\ExampleDirectory\\ExampleClass.cs"
                        ],
                        "excluded-mutations": [
                            "string",
                            "Logical operators"
                        ]
                    }
                }
                ```
                All the arguments in the configuration are optional. 
                
                ### Note
                In some cases Stryker cannot run without the `project-file` argument. Specify the name of the referenced project that should be mutated here. Stryker can only mutate one project in a single run. When it finds more references it will use the name in `project-file` to find the one project to mutate.

                For more information on what these options mean, take a look at the [Stryker.NET readme](https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.CLI/README.md)

                ### Console
                All arguments can also be passed through the console.
                ```
                dotnet stryker --log-level debug
                ```
                 Arguments both assigned in the config file and the console will use the value assigned in the console.
