node_modules
pnpm-lock.yaml

build
.docusaurus
.cache-loader
.DS_Store
.env*
*.log

/docs/stryker-js
/docs/stryker4s
/docs/stryker-net
/docs/mutation-testing-elements

!/docs/stryker-js/**/*.html
!/docs/stryker-net/**/*.html
!/docs/stryker4s/**/*.html
!/docs/mutation-testing-elements/**/*.html
