extends ../layout/layout.pug

block content
    .row
        .col-md-12.mt-3
            :markdown-it
                # Stryker4s
                Note: Currently Stryker4s is in heavy development and is in a preview state. This means it's probably not ready to be used in large projects!
                But this shouldn't hold you back to give Stryker4s a try. 
                
                Despite that, we'be happy to help you out if you run into any problems or have any questions. 
    