extends ../layout/section-layout.pug

block content
    :markdown-it
        Welcome to the Stryker for Scala documentation. Stryker for Scala is also known as Stryker4s.

        Stryker4s offers you mutation testing for your Scala projects. 
        With a rich set of mutaters specificily for Scala you will be able to find bugs you didn't even know you had!

        Currently Stryker4s is still in heavy development, this means it's propably not ready for large projects just yet.

        But, this shouldn't hold you back to give Stryker4s a try. 
        An easy way to get started is to use the [quickstart](/stryker4s/quickstart). 
    