extends ../layout/section-layout.pug

block content
    section.row
        .col-md-12
            :markdown-it
                Install Stryker using [sbt](https://www.scala-sbt.org/).
    section.row
        .col-md-12
            //- h3 #[span.badge.badge-primary 1] Prepare
            :markdown-it
                ### 1 Install

                To install Stryker4s on your project, add the following line to `project/plugins.sbt`:

                ```scala
                addSbtPlugin("io.stryker-mutator" % "sbt-stryker4s" % "0.1.0")
                ```

                ### 2 Configure

                Stryker4s will look for a `stryker4s.conf` file in the root of your project. If found it will use the configured values. All arguments in the configuration (and the file itself) are optional. You can find the possible values on our configuration page on [GitHub](https://github.com/stryker-mutator/stryker4s/blob/master/docs/CONFIGURATION.md#configuration).

                ### 3 Let's kill some mutants

                Run Stryker4s to mutation test your project:

                ```shell
                sbt stryker
                ```
 
                ### 4 Having trouble? 

                Having troubles? Try enabling debug logging by adding `log-level: debug` to your `stryker4s.conf`.
                If you are having issues please let us know by [reporting an issue](https://github.com/stryker-mutator/stryker4s/issues/new) or talk to us on [Gitter](https://gitter.im/stryker-mutator/stryker4s).
