// https://medium.com/dailyjs/mimicking-bootstraps-collapse-with-vanilla-javascript-b3bb389040e7


@include media-breakpoint-down('sm', $grid-breakpoints){
    .collapse, .collapse:not(.show) {
        display: block;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    }

    .collapse.show {
        max-height: 99em;
        transition: max-height .5s ease-in-out;
    }
}