#forkme_banner {
    background: #0090ff url("../images/blacktocat.png") no-repeat scroll 95% 50%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 50px 10px 10px;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10;
}