#forkme_banner {
    background: #0090ff no-repeat scroll 95% 50%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10;
}

#forkme_banner i {
    font-size: 25px;
    margin-left: 5px;
}

#forkme_banner:hover {
    text-decoration: none;
}

#forkme_banner:hover span {
    text-decoration: underline;
}
