a[target="_blank"]:after {
    content: ' \1F5D7';
}

.navbar-nav a:after { 
    content: '';
}

.stryker-permalink {
    width: 25px;
    height: 15px;
    font-size: 16px;
    float: left;
    line-height: 1;
    margin-left: -25px;
    &::before {
        content: ""
    }
    &:hover {
        text-decoration: none;
        &::before {
            content: "🔗"
        }
    }
}

h2 {
    display: flex;
    align-items: center;
    &:hover {
        .stryker-permalink {
            &::before {
                content: "🔗"
            }
        }
    }
}
