a[target="_blank"]:after {
    content: ' \1F5D7';
}

.navbar-nav a:after { 
    content: '';
}

.stryker-permalink {
    width: 25px;
    height: 25px;
    font-size: 15px;
    float: left;
    margin-left: -25px;
    vertical-align: center;
    display: flex;
    align-items: center;
    &::before {
        content: ""
    }
    &:hover {
        text-decoration: none;
        &::before {
            content: "🔗"
        }
    }
}

h1, h2, h3 {
    display: flex;
    align-items: center;
    padding-top: 70px;
    margin-top: -70px;
    &:hover {
        .stryker-permalink {
            &::before {
                content: "🔗"
            }
        }
    }
    &::before {
        display: block; 
        content: " "; 
        margin-top: -75px; 
        height: 75px; 
        visibility: hidden; 
    }
}
