
.preview-ribbon:after{
    content: "Preview";
    position: absolute;
    padding: 4px 20px;
    background: $blue;
    top: 30px;
    margin-left: 10px;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    border-radius: 5px;
}
