body {
    font-family: "Lato";
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.84);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.docs-header {
    font-family: "Roboto";
    background-color: $primary;
    color: $accent;
    border-radius: 0px;
}

.docs-header h2, .docs-header h1 {
    color: $accent;
}

.docs-header img.stryker-img {
    max-width: 100%;
    height: auto;
}

img.stryker-versions-img { 
    max-width: 220px; 
    padding: 20px
}

.icon-box {
    font-size: 1.8em;
}

h1, h2, h3, .icon-box {
    color: $secondary;
    font-family: "Roboto";
}

.navbar-footer .navbar-text {
    font-size: 0.7em;
}

.navbar-footer {
    border-top: 1px solid;
}

pre {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    text-align: left;
    font-size: 15px;
}

.fa {
    font-size: 30px;
}

.blog-preview p {
    color: rgba(0, 0, 0, 0.84);
}

.blog-date {
    font-size: $font-size-sm;
    display:block;
}

code {
    border-radius: 5px;
}
