.gitter-chat-embed {
    z-index: 9999;
}

body {
    font-family: "Lato";
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.84);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.docs-header {
    font-family: "Roboto";
    background-color: #E84B39;
    color: #F1C40F;
}

.docs-header h2, .docs-header h1 {
    color: #F1C40F;
}

.docs-header a {
    color: #F1C40F;
    text-decoration: underline;
}
.docs-header img.stryker-img {
    max-width: 500px;
}
img.stryker-versions-img{ max-width: 220px; padding: 20px}
.icon-box {
    color: #B74934;
    font-size: 1.8em;
}
h1, h2, h3, .icon-box {
    color: #B74934;
}
h1, h2, h3 {
    font-family: "Roboto";
}
.navbar-footer .navbar-text{
    font-size: 0.7em;
}
.navbar-footer{
    border-top: 1px solid;
}

pre{
    padding: 0;
    text-align: left;
    font-size: 15px;
}

.fa {
    font-size: 30px;
}
#stryker-shirt-image img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.blog-preview p {
    color: rgba(0, 0, 0, 0.84);
}

.blog-date {
    font-size: 14px;
    display:block;
}
