extends ../layout/section-layout.pug
block content
    :markdown-it
        More detailed information about Stryker for JavaScript can be found in our handbook.
        Feel free to add documentation there by creating a pull request.
    a.btn.btn-primary.btn-lg(href="https://github.com/stryker-mutator/stryker-handbook#readme", target="_blank") To handbook
