extends ../layout/section-layout.pug

block content
    :markdown-it
        Welcome to the Stryker for JavaScript & Friends documentation.
        Stryker started out as a pure JavaScript mutation testing framework, that's why it simply referred to as **Stryker**. 

        Today, Stryker supports most JavaScript projects. 
        It includes support for TypeScript, React, Angular, VueJS and NodeJS.

        Don't hesitate to get started using our quickstart guide. 

    a.btn.btn-primary.btn-lg(href="/stryker/quickstart") To quickstart
    p
