extends ../layout/section-layout.pug

block content
    :markdown-it
        Welcome to the Stryker for JavaScript documentation. 

        Stryker started out as a pure JavaScript mutation testing framework, that's why it simply referred to as **Stryker**.

        Don't hesitate to get started using our quickstart guide.

    a.btn.btn-primary.btn-lg(href="/stryker/quickstart") To quickstart
    p
