extends ../layout/section-layout.pug

block content
    section.row
        .col-md-12
            :markdown-it
                Install Stryker using [npm](https://nodejs.org).
        .col-md-12
            img(alt="stryker-install", src="/images/stryker-install.gif" class="img-fluid")
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 1] Prepare
            p Make sure you have npm and nodejs installed. Open a terminal / command prompt and cd to the root of your project you want to mutation test.
            pre
                code cd my-project
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 2] Install
            p 
                | The easiest way to get started with Stryker is by installing the stryker-cli globally. It is a small package which forwards commands to your local stryker instance. 
            pre.stryker-install
                code 
                    | npm install -g stryker-cli
            p Optionally, you could also install stryker and the stryker-api directly yourself.
            pre.stryker-install
                code 
                    | npm install --save-dev stryker stryker-api
            :markdown-it
                If you choose to not install the stryker-cli, use `./node_modules/.bin/stryker` instead of `stryker` for the rest of the quickstart.
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 3] Configure
            p Run this command the configure stryker.
            pre.stryker-install
                code 
                    | stryker init
            p If you're asked to install stryker, choose yes. Make decisions for the rest of your questions:
            ol
                li Which test runner do you want to use?
                li Which test framework do you want to use?
                li Which reporter(s) do you want to use?
            p Please let us know if your option is missing here.
            
            :markdown-it
                After the init is done, inspect the `stryker.conf.js` file. 
                Update the `files` and `mutate` properties if appropriate.
                For more information on what these options mean, take a look at the [Stryker readme](https://github.com/stryker-mutator/stryker/tree/master/packages/stryker#readme)
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 4] Let's kill some mutants
            p Run stryker to mutation test your project
            pre.stryker-install
                code 
                    | stryker run
            hr/
    section.row
        .col-md-12
            h3 #[span.badge.badge-primary 5] What's next?
            :markdown-it
                Having troubles? Try enabling debug logging by adding `logLevel: 'debug'` to your stryker.conf.js. 
                To also see output of your test runner, use `logLevel: 'trace'`. 
                You can also have a look at the [readme file of stryker](https://github.com/stryker-mutator/stryker/tree/master/packages/stryker#readme) for more information about the configuration.
                Please [report any issues](http://github.com/stryker-mutator/stryker/issues) you have or let us know [via gitter](https://gitter.im/stryker-mutator/stryker).

                Want to help the Stryker community? Awesome! You can help by writing plugins, document issues or simply writing docs.
                You can always drop us a line [on gitter](https://gitter.im/stryker-mutator/stryker). 
