extends ../../layout/blog-layout.pug
block content
    :markdown-it
        A new version of Stryker has been released that comes with a new way to initialize your project: an interactive questionaire!
        Previously, when you wanted to start using Stryker in your project, you probably used the quick start on the website:

        ![](../../images/blogs/old-quickstart.jpg)

        This approach had a couple of problems:
        * You had to manually install Stryker and its dependencies
        * You had to manually create a file to put the stryker config in
        * We had to update the page every time a new plugin was added
        * You could select combinations that were not possible
        
        These problems are fixed with the stryker-cli and the new initializer in stryker! 
        TODO: Talk about how you can use the initializer

        TODO: Talk about breaking changes to stryker-mocha-runner

        TODO: Talk about which tags plugin devs should use

        TODO: Talk about the roadmap (ES6 support, support for TypeScript)