extends ../../layout/blog-layout.pug

block prepend content
    .row
        .col-md-12
            :markdown-it
                # Getting started
                This blog is about getting started with Stryker!