extends ./layout/layout.pug

block content
    .row
        .col-md-12
            :markdown-it
                # Blog
                Welcome to the blog of Stryker. Expect an article every 2 weeks to inform developers about the usage of Stryker and the new possibities it brings.


            each blog in blogs
                h2
                    a(href=blog.url, title=blog.title)= blog.title
                p Published: #{blog.date}
                p= blog.description

