extends ./layout/layout.pug

block docs-header

    .docs-header.jumbotron
        .container
            .row.d-flex.align-items-center
                div.col-md-6
                    h1.display-1 Stryker
                    p.lead Test your tests with mutation testing. Stryker comes in three flavors to help improve your tests.
                h1.title.col-md-6
                    img(src="/images/landingpage.png", alt="Stryker", class="stryker-img")

block content
    .row
        .col-md-12.text-center
            h2 Getting started with Stryker
            .row
                a.col-md-4(title="Stryker for JavaScript and friends", href="/stryker/")
                    figure
                        img(src="/images/JavascriptLogo.png", alt="JavaScript", class="stryker-versions-img")
                        figcaption JavaScript and friends
                a.col-md-4(title="Stryker for C#" href="/stryker-net/")
                    figure.preview-ribbon
                        img(src="/images/CSharpLogo.png", alt="C#", class="stryker-versions-img")
                        figcaption C#
                a.col-md-4(title="Stryker for Scala", href="/stryker4s/")
                    figure.preview-ribbon
                        img(src="/images/ScalaLogo.png", alt="Scala", class="stryker-versions-img")
                        figcaption Scala
    .row
        .col-md-12.mt-3
            :markdown-it
                ## What is mutation testing?

                Bugs, or *mutants*, are automatically inserted into your production code. Your tests are run for each mutant.
                If your tests *fail* then the mutant is *killed*.
                If your tests passed, the mutant *survived*.
                The higher the percentage of mutants killed, the more *effective* your tests are.

                It's really that simple.
    .row
        .col-md-12
            :markdown-it
                ## But wait, what about code coverage?

                Well... code coverage doesn't really tell you anything about the effectiveness of your tests. Think about it,
                when was the last time you saw a test without an assertion, purely to increase the code coverage.

                Imagine a sandwich
                covered with paste. Code coverage would tell you the bread is 80% covered with paste. Mutation testing, on the other hand,
                would tell you it is actually *chocolate* paste and not... well... something else.
    .row
        .col-md-12
            :markdown-it

                ## Meet: Stryker

                With Stryker, we bring mutation testing to the masses.
                It takes the best practices of existing mutation testing frameworks like [PIT](http://pitest.org/) and [Infection](https://infection.github.io/),
                but with the open mentality of nodejs and the web. This is why Stryker is not a test runner or test framework.
                Indeed, why would it? There are already awesome test runners and test frameworks out there.
                Instead, Stryker empowers you to use what you like and focusses on being the best Mutation testing framework it can be.
    .row
        .col-md-12
            :markdown-it

                ## An example

                Say you're building an online casino, users can only enter the casino when they're over 18. So you write the following piece of code to check if someone is allowed to use the website:

                ```js
                function isUserOldEnough(user) {
                  return user.age >= 18;
                }
                ```

                Stryker will find the return statement and decide to change it in a number of ways:
                
                ```js
                /* 1 */ return user.age > 18;
                /* 2 */ return user.age < 18;
                /* 3 */ return false;
                /* 4 */ return true;
                ```

                We call those modifications mutants. After the mutants have been found, they are applied one by one and your tests will be executed against them. 
                If at least one of your tests fail, we say the mutant is *killed*. That's what we want! If no tests fail, it *survived*. 
                The better your tests, the less mutants survive.
    
                Stryker will output the results in various different formats. One of the easiest to read is the clear text reporter:

                ```shell
                  Mutant killed: /yourPath/yourFile.js: line 10:27
                  Mutator: BinaryOperator
                  -                 return user.age >= 18;
                  +                 return user.age > 18;

                  Mutant survived: /yourPath/yourFile.js: line 10:27
                  Mutator: RemoveConditionals
                  -                 return user.age >= 18;
                  +                 return true;
                ```

                The clear text reporter will output how exactly your code was modified and which mutator was used. It will then tell us if a mutant was killed, meaning that at least one test failed, or if it survived. The second mutation in this example is marked as a survivor. This means there is probably a test missing that explicitly tests for an age lower than 18.
    .row
        .col-md-12
            h2 Features
    .row.mt-3
        .col-md-4.col-sm-6
            .row
                .col-md-2.col-2.icon-box
                    i.fa.fa-crosshairs
                .col-md-10.col-10.mt-2
                    :markdown-it
                        ### Mutations

                        Control [more than 30 supported mutations](/mutators.html), or write your own.
        .col-md-4.col-sm-6
            .row
                .col-md-2.col-2.icon-box
                    i.fa.fa-shipping-fast
                .col-md-10.col-10.mt-2
                    :markdown-it
                        ### Speed

                        Use code analysis and parallel test runner processes to speed things up.
        .col-md-4.col-sm-6
            .row
                .col-md-2.col-2.icon-box
                    i.fa.fa-globe-americas
                .col-md-10.col-10.mt-2
                    :markdown-it
                        ### Test runner agnostic

                        Run tests with your favorite test runner.
    .row
        .col-md-4.col-sm-6
            .row
                .col-md-2.col-2.icon-box
                    i.fa.fa-users
                .col-md-10.col-10.mt-2
                    :markdown-it
                        ### Open source

                        Free as in Speech. Maintained by the open source community at
                        [GitHub](http://github.com/stryker-mutator/stryker).
        .col-md-4.col-sm-6
            .row
                .col-md-2.col-2.icon-box
                    i.fa.fa-cogs
                .col-md-10.col-10.mt-2
                    :markdown-it
                        ### Multilingual

                        Stryker has support for [JavaScript & TypeScript](/stryker/), [C#](/stryker-net/) and [Scala](/stryker4s/)
        .col-md-4.col-sm-6
            .row
                .col-md-2.col-2.icon-box
                    i.fa.fa-chart-bar
                .col-md-10.col-10.mt-2
                    :markdown-it
                        ### Clever reports

                        Use [clever reports](https://github.com/stryker-mutator/stryker/tree/master/packages/stryker-html-reporter)
                        to sniff out surviving mutants and improve test effectiveness.
    
    .row
        .col-md-12.mt-3
            h2 Info Support
            :markdown-it
                Stryker is sponsored by [Info Support](https://www.infosupport.com/). They provide our awesome swag, host Stryker hackatons and provide time for their developers to work on Stryker and other open source projects. Check them out at [opensource.infosupport.com](https://opensource.infosupport.com/).

    .row
        .col-md-12
            <blockquote class="blockquote">
                <p class="mb-0">For someone who hates mutants... you certainly keep some strange company.</p>
                <footer class="blockquote-footer">Professor X</footer>
            </blockquote>
            <blockquote class="blockquote">
                <p class="mb-0">Oh, they serve their purpose... as long as they can be controlled.</p>
                <footer class="blockquote-footer">William Stryker</footer>
            </blockquote>

            
