extends ./layout/layout.pug

block content
    .row
        .col-md-12
            :markdown-it
                # Supported mutators

                Comming soon! In the meantime, checkout the [Stryker readme](http://github.com/stryker-mutator/stryker#supported-mutators) for 
                a short description on the supported mutators.
