extends ./layout/layout.pug

block content
    .row
        .col-md-12
            :markdown-it
                # Supported mutators

                Stryker supports a variety of mutators, which are listed below. Do you have a suggestion for a (new) mutator? Feel free to create an [issue](https://github.com/stryker-mutator/stryker/issues)!
            
            h3 Binary operator
            table.table.table-striped
                    thead
                        tr
                            th Original
                            th Mutated
                    tbody
                        tr
                            td a + b
                            td a - b
                        tr
                            td a - b
                            td a + b
                        tr
                            td a * b
                            td a / b
                        tr
                            td a / b
                            td a * b
                        tr
                            td a % b
                            td a * b
                        tr
                            td a < b
                            td a <= b
                        tr
                            td a < b
                            td a >= b
                        tr
                            td a <= b
                            td a < b
                        tr
                            td a <= b
                            td a > b
                        tr
                            td a > b
                            td a >= b
                        tr
                            td a > b
                            td a <= b
                        tr
                            td a >= b
                            td a > b
                        tr
                            td a >= b
                            td a < b
                        tr
                            td a == b
                            td a != b
                        tr
                            td a != b
                            td a == b
                        tr
                            td a === b
                            td a !== b
                        tr
                            td a !== b
                            td a === b

            h3 Boolean Substitutions
            table.table.table-striped
                    thead
                        tr
                            th Original
                            th Mutated
                    tbody
                        tr
                            td true
                            td false
                        tr
                            td false
                            td true
                        tr
                            td !
                            td
                            
            h3 Logical operator
            table.table.table-striped
                    thead
                        tr
                            th Original
                            th Mutated
                    tbody
                        tr
                            td a && b
                            td a || b
                        tr
                            td a || b
                            td a && b

            h3 Unary operator
            table.table.table-striped
                    thead
                        tr
                            th Original
                            th Mutated
                    tbody
                        tr
                            td +a
                            td -a
                        tr
                            td -a
                            td +a

            h3 Update operator
            table.table.table-striped
                    thead
                        tr
                            th Original
                            th Mutated
                    tbody
                        tr
                            td a++
                            td a--
                        tr
                            td a--
                            td a++
                        tr
                            td ++a
                            td --a
                        tr
                            td --a
                            td ++a
            
            h3 Remove conditionals
            table.table.table-striped
                    thead
                        tr
                            th Original
                            th Mutated
                    tbody
                        tr
                            td for (var i = 0; i < 10; i++) { }
                            td for (var i = 0; false; i++) { }
                        tr
                            td while (a > b) { }
                            td while (false) { }
                        tr
                            td do { } while (a > b);
                            td do { } while (false);
                        tr
                            td if (a > b) { } 
                            td if (true) { }
                        tr
                            td if (a > b) { } 
                            td if (false) { }
                        tr
                            td var x = a > b ? 1 : 2;
                            td var x = true ? 1 : 2;
                        tr
                            td var x = a > b ? 1 : 2; 
                            td var x = false ? 1 : 2;
            
            h3 Block statement
            p This mutator removes the content of every block statement. For example the code:
            pre
                code.
                    function saySomething() {
                        console.log('Hello world!');   
                    }
            p becomes:
            pre
                code.
                    function saySomething() { 
                    }
