extends ./layout/layout.pug

block content
    .row
        .col-md-12
            :markdown-it
                # Plugins

                Stryker supports a number of plugins, which are listed below. You can also [search npm for the stryker-plugin tag](https://www.npmjs.com/search?q=stryker-plugin). 
                
                Missing something? Feel free to create an [issue](https://github.com/stryker-mutator/stryker/issues) or 
                use the [stryker-plugin-seed](https://github.com/stryker-mutator/stryker-plugin-seed) to create your own plugin.

                ## Test runners
                * Karma ([stryker-karma-runner](https://github.com/stryker-mutator/stryker-karma-runner))
                * Mocha ([stryker-mocha-runner](https://github.com/stryker-mutator/stryker-mocha-runner))

                ## Test frameworks
                Stryker is test framework agnostic, however if you plugin hooks to the test framework you are using, it can significantly improve the performance
                by using `coverageAnalysis: 'perTest'`. For more information about coverage analysis, see the [stryker readme](https://github.com/stryker-mutator/stryker#coverage-analysis).
                
                * Jasmine ([stryker-jasmine](https://github.com/stryker-mutator/stryker-jasmine))
                * Mocha ([stryker-mocha-runner](https://github.com/stryker-mutator/stryker-mocha-runner)) (only when running in the mocha test runner on node)

                ## Reporters
                Stryker already has 3 reporters build in:
                * `progress`: Report progress during mutation testing.
                * `clear-text`: A clear text report at the end of the mutation testing phase.
                * `event-recorder`: Write all events to disk. Useful for debug purposes (default location: 'reports/mutation/events')

                Additional reporters can be found here:
                * HTML Reporter ([stryker-html-reporter](https://github.com/stryker-mutator/stryker-html-reporter))

                ## Mutators
                We don't have any mutators as plugins yet, but we do have list of [mutators that are included with Stryker](/mutators.html)

                ## Config writers
                None so far.

                ## <Your plugin here>
                You can write your own plugins for Stryker. Interested? Please have a look at our [stryker-plugin-seed](https://github.com/stryker-mutator/stryker-plugin-seed), 
                an opinioned setup to start writing your own plugins using TypeScript.