extends ./layout/layout.pug

block content
    .row
        .col-md-12
            :markdown-it
                # Plugins

                Stryker supports a number of plugins, which are listed below. You can also [search npm for the stryker-plugin tag](https://www.npmjs.com/search?q=stryker-plugin). 
                
                Missing something? Feel free to create an [issue](https://github.com/stryker-mutator/stryker/issues) or use the [stryker-plugin-seed](https://github.com/stryker-mutator/stryker-plugin-seed).

                ## Test runners
                * Karma ([stryker-karma-runner](https://github.com/stryker-mutator/stryker-karma-runner))
                * Mocha ([stryker-mocha-runner](https://github.com/stryker-mutator/stryker-mocha-runner))

                ## Test frameworks
                We don't have any test frameworks as plugins right now. We do have a test selector for Jasmine built into Stryker and you can run Mocha tests using the stryker-mocha-runner.

                ## Reporters
                * HTML Reporter ([stryker-html-reporter](https://github.com/stryker-mutator/stryker-html-reporter))

                ## Mutators
                We don't have any mutators as plugins but we do have list of [mutators that are included with Stryker](http://stryker-mutator.github.io/mutators.html)

                ## Config writers
                None so far.
