extends ./layout/layout.pug

block content
    .row
        .col-md-12
            :markdown
                # Plugins

                Coming soon! In the meantime, checkout the [Stryker-mutator](https://github.com/stryker-mutator) github organisation or  
                and [search npm for the stryker-plugin tag](https://www.npmjs.com/search?q=stryker-plugin).
