extends ./layout/layout.pug


block content
    .row
        .col-md-12
            h1="Quickstart"
            :markdown
                Comming soon! In the meantime, checkout the [Stryker readme](https://github.com/stryker-mutator/stryker) for the Stryker docs.
