extends ./layout/layout.pug

block docs-header

    .docs-header.jumbotron
        .container
            h1 Quickstart
            p Use Stryker as you please

block content
    .row
        section.row
            .col-md-12
                h3 #[span.label.label-primary 1] Install
                p Use this command to install the stryker-cli
                pre.stryker-install
                    code 
                        | npm install -g stryker-cli
                hr/
        section.row
            .col-md-12
                h3 #[span.label.label-primary 2] Configure
                p Run this command the configure stryker for your project
                pre.stryker-install
                    code 
                        | stryker init
                hr/
        section.row
            .col-md-12
                h3 #[span.label.label-primary 3] Run
                p Run stryker to mutation test your project
                pre.stryker-install
                    code 
                        | stryker run
    .row
        .col-md-12
            :markdown-it