head
    meta(http-equiv="refresh",content="0; url=https://github.com/stryker-mutator/stryker-handbook/tree/master/stryker/technical-reference#readme")
    link(rel="canonical",href="https://github.com/stryker-mutator/stryker-handbook/tree/master/stryker/technical-reference#readme")