$primary: #E84B39;
$secondary: #b74934;
$accent: #F1C40F;
$code-color: $secondary;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/highlight.js/styles/xcode";
@import "./stryker/container-fix";
@import "./stryker/fork-me-banner";
@import "./stryker/preview-ribbon";
@import "./stryker/typography";
@import "./stryker/header";
@import "./stryker/fix-collapse-animation";
@import "./stryker/sticky-top"
