extends ./layout.pug
block prepend content
    .row
        .col-md-12
            h1= currentBlog.title
            p Published: #{currentBlog.date}
            p(class="lead")=currentBlog.description
            block content
            p Want to get in touch? Find us on #[a(href="https://gitter.im/stryker-mutator/stryker" target="_blank") Gitter] or #[a(href="https://twitter.com/search?q=%23strykermutator&src=typd" target="_blank") Twitter].
            a(href="/blog.html", title="blog") Back to blogs