extends ./layout.pug
block prepend content
    .row
        .col-md-12
            h1= currentBlog.title
            p Published: #{currentBlog.date}
            block content
            a(href="/blog.html", title="blog") Back to blogs