extends ./layout.pug
block prepend content
    .row
        .col-md-12
            h1= currentBlog.title
            p Published: #{currentBlog.date}
            p(class="lead")=currentBlog.description
            block content
            p Want to get in touch? Find us on #[a(href="https://join.slack.com/t/stryker-mutator/shared_invite/enQtOTUyMTYyNTg1NDQ0LTU4ODNmZDlmN2I3MmEyMTVhYjZlYmJkOThlNTY3NTM1M2QxYmM5YTM3ODQxYmJjY2YyYzllM2RkMmM1NjNjZjM" target="_blank") Slack] or #[a(href="https://twitter.com/stryker_mutator" target="_blank") Twitter].
            a(href="/blog.html", title="blog") Back to blogs