head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="description", content=name + ': ' + tagline)
    title=name
    
    //- CSS
    link(rel="stylesheet", href="stylesheets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="stylesheets/stryker.css")
    link(rel="stylesheet", href="stylesheets/font-awesome-4.6.3/css/font-awesome.min.css")
    
    //- JavaScript
    script(src="stylesheets/bootstrap/js/bootstrap.min.js")