nav.navbar.sticky-top.navbar-expand-md.navbar-dark.bg-secondary.flex-column.flex-md-row
    .container    
        a.navbar-brand(href="/")
            img(src="/images/stryker_205x205.png", alt="Stryker", width=30, height=30)
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div#navbar.collapse.navbar-collapse
            ul.navbar-nav
                each val in menu.childItems
                    li.nav-item(class=   val.isActive ? 'active' : '')
                        a.nav-link(href=val.url, title=val.name)&attributes(val.attributes)= val.title
        a.d-flex.align-items-center(href="https://github.com/stryker-mutator/stryker")#forkme_banner 
            span.d-none.d-lg-block View me on GitHub
            i.fab.fa-github
