nav.navbar.navbar-default.navbar-fixed-top
    .container    
        div.navbar-header
            a.navbar-brand(href="/")
                img(src="/images/stryker_205x205.png", alt="Stryker", width=20, height=20)
            button.pull-left.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                each val in menu.childItems
                    li(class=   val.isActive ? 'active' : '')
                        a(href=val.url, title=val.name)= val.title
        a(href="https://github.com/stryker-mutator/stryker")#forkme_banner View me on GitHub

