nav.navbar.navbar-default.navbar-fixed-top
        
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/")
                img(src="/images/stryker_205x205.png", alt="Stryker", width=20, height=20)
            button.pull-left.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                each val, key in menu
                    li(class=currentUrl === val ? 'active' : '')
                        a(href=val, title=key)= key
        a(href="https://github.com/stryker-mutator/stryker")#forkme_banner View me on GitHub

