head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="description", content=name + ': ' + tagline)
    title=currentTitle + ' - ' + name

    //- Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:500")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
    
    //- Favicon - by http://realfavicongenerator.net
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    meta(name="theme-color", content="#b74934")
    
    //- Google Search
    meta(name="google-site-verification", content="dcR3wjiLytpKDUxRuQskHBDnuZmrf58jOUjMANVpOn0")

    //- Responsiveness
    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- CSS
    link(rel="stylesheet", href="/stylesheets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/stylesheets/stryker.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css", integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/highlightjs/styles/solarized-light.css")
    
