doctype html
html(lang="en")
    include head
    
    body
        include header
        
        main
            
            block docs-header
            
            .container.mt-3
                block content
                include footer
