doctype html
html(lang="en")
    include head
    
    body
        include header
        
        block docs-header

        .container
            block content
            include footer
                  