extends ../../layout/blog-layout.pug

block prepend content
    .row
        .col-md-12
            :markdown-it
                # First steps
                ![](/images/blogs/stryker.png)
                Let's do the first steps!